.services-row {
    padding: 1% 5%;
    position: relative;
    z-index: -1;
}

#services {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: solid #000 2px;
}

.card-text {
    text-align: left;
    font-size: 14px;
}

.card-text-header {
    font-size: 18px;
    text-align: left;
}

.extra-row {
    margin: 25px 20%;
}

.icon {
    font-size: 30px;
}

.etc {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: solid #000 2px;
}