.terms {
    padding: 50px;
    color: var(--navy);
}
.terms-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.terms-list {
    line-height: 40px;
}

.terms-items {
    font-size: 1.1rem;
}

@media (max-width: 1028px) {
    .terms {
        padding: 25px;

    }
}