.newsletter {
  margin: 25px;
  padding: 1% 5%;
}
.newsletter-left {
    padding: 50px;
    background-color: #D8D8D8;
}

.newsletter-left h3, .newsletter-left p, input {
  color: #182747;
  text-align: left;
}

.newsletter-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.newsletter-right {
  text-align: center;
}

@media (max-width: 1028px) {
  .newsletter {
    margin: auto;
    padding: 1% 5%;
  }
  .newsletter-left {
      padding: 30px;
      margin: 25px 0;
      background-color: #fff;
  }
  
  .newsletter-left h3, .newsletter-left p, input {
    text-align: center;
  }
  
  .newsletter-right {
    display: none;
  }
}